extends layout

block content
  script(src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js")
  script.
      var config = {
        apiKey: "AIzaSyD-SJ8_HPbxPpZ-Kvb-N8QqS18uTzi0cAQ",
        authDomain: "fir-01-c2f44.firebaseapp.com",
        databaseURL: "https://fir-01-c2f44.firebaseio.com",
        projectId: "fir-01-c2f44",
        storageBucket: "fir-01-c2f44.appspot.com",
        messagingSenderId: "403783351797"
      };
      console.log(config)
      firebase.initializeApp(config)
      var database = firebase.database()

      function test(){
        var ref = database.ref('hoge');

        var data = {
          no: 1,
          name: '太田'
        }

        ref.push('fuga')
        console.log(ref)
      }
      
  div test
  button(onclick="test()") テスト

