extends ../layout

block content
  div loop
  - for(let i=0; i<3; i++)
    div loop #{i}
  div test

  - let x = 100
  div #{x}

  - let flg = false
  - if(flg)
    div true
  - else
    div false
  div end